[versionner]
file = ./VERSION
;up_part= patch
;default_init_version = 1.0.0

[vcs]
engine = git
tag = yes
tag_params =

[file:versionner/__init__.py]
enabled = true
match = line
search = ^\s*__version__\s*=.*$
replace = __version__ = '%(version)s'

[file:setup.py]
enabled = true
match = line
search = \bversion\s*=.*$
replace = version='%(version)s',
encoding = utf-8

[file:README.md]
enabled = true
match = file
search = \nCurrent stable version
    ----------------------
    \s+[\w.-]+\n
replace = \nCurrent stable version
    ----------------------

    %(version)s\n
encoding = utf-8

[file:2:README.md]
enabled = true
match = line
search = https://github\.com/mysz/versionner/archive/\d+\.\d+\.\d+\.zip
replace = https://github.com/mysz/versionner/archive/%(version)s.zip
encoding = utf-8
