[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
semver = "==2.8.1"

[dev-packages]
pylint = "*"
pytest = "*"
twine = "*"
wheel = "*"
versionner = {editable = true,path = "."}
pytest-icdiff = "*"
pytest-sugar = "*"
